header {
  height: 520px;
  width: 100%;
  background-color: #F9A03F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
  background-size: cover;
  opacity: 1;
  padding-top: 160px;

  }
 
  
  .avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    }

.avatar img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 0;
}

.name {
  font-size: 2em;
  color: #FFF;
  margin-top : 0;
}

