header {
  height: 400px;
  width: 100%;
  background-color: #F9A03F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
  background-size: cover;
  opacity: 1;
  padding-top: 50px;
  margin-bottom: 20px;
 }
 
 .header h2 {
  margin-top: 0%;
  text-align: center;
  text-justify: auto;
  font-size:1.5em;
  color: #FFF;
 }


